body, a, img, form, div {
    margin: 0px;
    padding: 0px;
    border: 0px;
	font-family: Helvetica, Verdana, Arial;
}

a { color: black; text-decoration: none; }
a:hover { color: Salmon; }

span.count {
	padding: 3px;
	font-size: 10px
}

#images {
	padding: 20px;
	margin-top: 50px;
	text-align: center;
}
.user-list {
	padding: 20px;
	margin-top: 50px;
}

#images a { font-size: 10px; }

a img {
	border: 5px solid white;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	box-shadow: 2px 2px 5px #999;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

a img.my {
	border: 5px solid orange;
}

#header {
	position: fixed; 
	top: 0px; 
	left: 0px; 
	background: black; 
	color: white; 
	width: 100%;
	-moz-box-shadow: 1px 0px 10px #000;
	-webkit-box-shadow: 1px 0px 10px #000;
	box-shadow: 1px 0px 10px #000;
}

#header h1 {
	padding: 0px;
	margin: 0px;
	margin-left: 50px;
}

a.button {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	float: right; 
	margin: 12px 4px 12px 0px; 
	padding: 2px; 
	text-decoration: none; 
	font-size: 10px; 
	background: white; 
	color: black;
}

a.button:hover {
	background: Salmon;
	color: white;
}

#loading {
	display: none;
	position: fixed;
	top: 0px;
	left: 50%;
	width: 100px;
	padding: 4px;
	margin-left: -50px;
	background-color: Salmon;
	color: white;
	text-align: center;
	font-size: 10px;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}
#loading.active {
	display: block;
}
