<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="p">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="Author" content="Lech Twaróg - lech.twarog@gmail.com" />

		<!-- application -->
		<link rel="stylesheet" type="text/css" href="/media/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/media/css/404.css" />

		<link rel="shortcut icon" href="/media/images/icons/asterisk_orange.png"/>

		<title>coś ty kurwa zrobił ?</title>
	</head>
	<body>
		<div id="center">
			<img src="/media/images/404.jpg" alt="[ni ma takiej strony]"/>
		</div>
	</body>
</html>
