{% load thumbnail %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Graph</title>
	<head>
		<script type="text/javascript" src="/media/js/mootools-core.js"></script>
		<script type="text/javascript" src="/media/js/raphael.js"></script>
		<script type="text/javascript">
			window.addEvent('domready', function(){
				var width = 1200;
				var height = 500;
				var r = Raphael( "holder", width, height );

				var authors = {}
				var getAuthor =  function( name ) {
					if( !authors[name] ) { 
						var x = Math.floor( Math.random() * ( width - 10 ) + 10 );
						var y = Math.floor( Math.random() * ( height - 10 ) + 10 );
						authors[name] = r.circle( x, y, 5 ).attr( { fill: Raphael.getColor(), stroke: 'white', opacity: .5 } )
					} else {
						authors[name].attr('r', authors[name].attr('r') + .2 )
					}
					return authors[name]
				}
				
				{% for post in images %}
					var via = {% if post.via %}"{{ post.via }}"{% else %}null{% endif %};
					var author = getAuthor( "{{ post.author }}" );
					var image_author = getAuthor( "{{ post.image.author }}" );
					if( image_author != author ) {
						if ( via ) {
							via = getAuthor( via );
							r.path( "M"+ author.attr( 'cx' ) + " " + author.attr( "cy" ) + "L" + via.attr( "cx" ) + " " + via.attr( "cy" ) ).attr( { stroke: "pink", opacity: .1 } )
							author = via;
						}
						r.path( "M"+ author.attr( 'cx' ) + " " + author.attr( "cy" ) + "L" + image_author.attr( "cx" ) + " " + image_author.attr( "cy" ) ).attr( { stroke: "green", opacity: .1 } )
					}

					
				{% endfor %}
			});
</script>

	</head>
	<body>
		<div id="holder">
		</div>
	</body>
</html>
